body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: #eae7e2; /* Optional: Set a light background color */
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

button {
  border-radius: 20px;
  background-color: #333333;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
